<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--app-page-info-->

    <!--轻呈云图标-->
    <link rel="shortcut icon" href="https://s.sumor.com/icons/favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s.sumor.com/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://s.sumor.com/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="https://s.sumor.com/icons/favicon-48x48.png">
    <!--preload-links-->
</head>
<body>
<div id="app"><!--app-html--></div>
<script type="module" src="/src/entry-client.js"></script>
</body>
</html>
